<div *ngIf="data">
  <h2>{{data.title | uppercase}} Details</h2>
  <div><span>id: </span>{{data.id}}</div>
  <div>
    <label>title:
      <input [(ngModel)]="data.title" placeholder="title"/>
    </label>
  </div>
  <div>
    <label>comment:
      <input [(ngModel)]="data.comment" placeholder="comment"/>
    </label>
  </div>
  <button (click)="update()">update</button>
  <button class="delete" (click)="removeData(data.id)">Delete track</button>

  <app-plotlygraph></app-plotlygraph>
  <button (click)="goBack()">go back</button>
  <div *ngIf="busy" class="processing">
    <p>Processing request, please stand by, you will be redirected soon...</p>
    <div class="loader">Loading...</div>
  </div>
</div>